{% load static %}
<div class="google-map contact-us-map" id="map-container1"></div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.6&amp;sensor=true"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  var center = new google.maps.LatLng(55.948845, -3.194091999999955);
  var map_pin = new google.maps.MarkerImage("{% static 'images/icons/mapmarker-icon-76x106.png' %}");
  map_pin.size = new google.maps.Size(38,53);
  map_pin.scaledSize = new google.maps.Size(38,53);
  map_pin.anchor = new google.maps.Point(38,53);
  var mapOptions = {
    zoom: 15,
    minZoom: 2,
    maxZoom: 18,
    center: center,
    scrollwheel: false,
    draggable: false,
    mapTypeControl: true,
    disableDefaultUI: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map($("#map-container1")[0], mapOptions);
  var title = '';
  var churchMarker = new google.maps.Marker({
    position: center,
    map: map,
    icon: map_pin,
    url: "https://www.google.co.uk/maps/place/St+Columba's+Free+Church+of+Scotland"
  });
  google.maps.event.addListener(churchMarker, 'click', function() {
    window.open(this.url);
  });
});
</script>
