<h2 class="">Giving Online</h2>
<div class="bg-stcs-nav-bg">
  <form action="/charge" method="post" id="payment-form" class="p-8">
    <div class="my-4 content">
      {% if cancelled %}
        <div class="px-2 py-4 mb-4 text-red-900 bg-red-200">
          <p>
          It looks like you cancelled your Donation (or maybe something else went wrong?).
          </p>
          <p>
          <b>Your card has not been charged.</b>
          </p>
          <p>
          If you would like to try again, just use the form below.
          </p>
        </div>
      {% else %}
        <p>
        If you would like to give online, please fill out the form below.
        </p>
      {% endif %}
      <p>
      Once you click the "Donate!" button you will be redirected to our payment processor where you can fill in your details.
      </p>
    </div>
    <div class="w-full my-4">
      <label for="amount">
        <span class="font-medium required">I would like to give</span>
        <input required type="text" inputmode="numeric" pattern="^£?[0-9]*" tabindex="3" placeholder="£" class="w-full mt-1 form-input" id="giving-amount">
      </label>
    </div>
    <div class="w-full my-4">
      <label for="fund">
        <span class="font-medium required">Fund</span>
        <select name="fund" class="block w-full mt-1 form-select" id="giving-fund">
          <option>General</option>
          <option>Hardship Fund</option>
          <option>Church Planting - Esk Valley</option>
          <option>Church Planting - Haddington</option>
          <option>Church Planting - Winchburgh</option>
          <option>Weekend Away</option>
          <!-- <option>Esk Valley - Weekend Away</option> -->
          <option>Sparkle Sisters - General</option>
          <option value="ss-walking-chal">Sparkle Sisters - Walking Challenge</option>
        </select>
      </label>
    </div>
    <label class="block mt-4">
    <button type="submit"
            class="px-2 py-1 mt-4 text-lg font-medium text-white bg-gray-500"
            id="giving-button"
            >
            Donate!
    </button>
    {% if show_give_to_specific %}
      <p class="mt-2 text-xs">
      If you would like to designate your donation to another category, please email <a href="mailto:finance-manager@stcsfc.org">finance-manager@stcsfc.org</a>.
      </p>
    {% endif %}
  </form>
</div>
