<h2 class="heading">Giving Online</h2>
<div class="form">
  <form action="/charge" method="post" id="payment-form">
    <div class="row">
      {% if cancelled %}
        <div class="alert alert-danger">
          <p>
          It looks like you cancelled your Donation (or maybe something else went wrong?).
          </p>
          <p>
          <b>Your card has not been charged.</b>
          </p>
          <p>
          If you would like to try again, just use the form below.
          </p>
        </div>
      {% else %}
      <p>
      If you would like to give online, please fill out the form below.
      </p>
      {% endif %}
      <p>
      Once you click the "Donate!" button you will be redirected to our payment processor where you can fill in your details.
      </p>
    </div>
    <div class="row" style="padding-top: 15px;">
      <div class="col-md-6">
        <div class="form-group">
          <label for="amount">I would like to give</label>
          <input required type="number" min="1" tabindex="3" class="form-control" name="amount" id="giving-amount" pattern="[0-9]{13,16}" placeholder="&#163;" step="0.01">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="fund">Fund</label>
          <select name="fund" class="form-control" id="giving-fund">
            <option>General</option>
            <option>Church Planting - Cornerstone</option>
            <option>Church Planting - Esk Valley</option>
            <option>Church Planting - Haddington</option>
            <option>Weekend Away</option>
            <option>Esk Valley - Weekend Away</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-med submit-btn btn-default" style="margin-top: 15px;" id="giving-button">
          Donate!
        </button>
      </div>
    </div>
  </form>
</div>
