@import "./bootstrap.css";

.contact-thanks {
  background-color: #f9f9f9;
  padding: 30px;
}

@media (min-width: 992px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
.logo2 {
  display: none !important;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-brand .logo1 {
    display: none;
  }
  .navbar-brand .logo2 {
    display: block !important;
    width: 45px !important;
  }
  .navbar > .container-fluid > .navbar-header > .navbar-brand {
    padding-right: 0px;
  }
  #stcs-collapse .navbar-mm > li {
    padding: 0px 15px;
  }
  .navbar .navbar-collapse .navbar-nav .dropdown-menu {
    margin-left: 5px !important;
  }
}
.jumbotron {
  margin-bottom: 0px !important;
}
.jumbotron p {
  font-size: 16px;
}
.jumbotron-top {
  border-top: 1px solid #ebebec;
  border-bottom: !important;
}
.jumbotron-dark {
  background-color: #3a3a3a;
  margin-bottom: 60px !important;
  height: 150px;
  border-bottom: 1px solid #ebebec;
}
.jumbotron-dark p {
  font-size: 16px;
}
.jumbotron-dark .banner-h1-stcs,
.jumbotron-dark h1,
.jumbotron-dark small {
  color: #ffffff;
}
.jumbotron-dark .banner-h1-stcs.banner-h1-stcs,
.jumbotron-dark h1.banner-h1-stcs,
.jumbotron-dark small.banner-h1-stcs {
  font-size: 3em;
  text-align: center;
  margin: 15px 0px 10px;
}
.jumbotron-light {
  background-color: #ffffff;
  margin-bottom: 0px !important;
  border-bottom: 1px solid #ebebec;
  margin-bottom: 10px;
}
.jumbotron-light p {
  font-size: 16px;
}
.jumbotron-light .banner-h1-stcs,
.jumbotron-light h1,
.jumbotron-light small {
  color: #ffffff;
}
.jumbotron-light .banner-h1-stcs.banner-h1-stcs,
.jumbotron-light h1.banner-h1-stcs,
.jumbotron-light small.banner-h1-stcs {
  font-size: 3em;
  text-align: center;
  margin: 15px 0px 10px;
}
@media (min-width: 992px) {
  .group-stcs {
    margin-top: 20%;
    width: 100%;
  }
  .btn-stcs {
    background: #e21937;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    height: 60px;
    width: 204px;
  }
}
.group-stcs-content {
  margin-left: auto;
  margin-right: auto;
}
.group-stcs-content small {
  font-size: 18px;
  padding-top: 5px;
}
.group-stcs-content h1 {
  font-size: 3em;
  font-weight: bold;
}
.btn-stcs {
  background: #e21937;
  color: #ffffff;
  font-weight: bold;
}
.btn-stcs:focus,
.btn-stcs:hover,
.btn-stcs:hover {
  background-color: #ea445d;
  color: #ffffff;
}
.small-stcs {
  display: block;
  font-size: 25%;
  font-weight: 500;
}
.progress {
  height: 35px;
  margin-top: 25px;
  background-color: #2b2b2d;
  border: 2px solid #2b2b2d;
}
.progress-bar {
  line-height: 32px;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
  background-color: #909194;
  color: #3a3a3a;
}
.image-stcs {
  width: 100%;
}
.well-stcs {
  background-color: #f8f8f8;
  border-style: none;
}
.well-stcs h2 {
  color: #e21937;
  margin-top: 10px;
  font-weight: bold;
}
.well-stcs p {
  font-size: 14px;
}
.well-stcs p strong {
  color: #3a3a3a;
}
.form-control-stcs {
  width: 80%;
}
.media-heading {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .section-stcs {
    margin-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .section-stcs {
    margin-bottom: 15px;
  }
}
.section-stcs-lined {
  padding-top: 30px;
  border-top: 1px solid #ebebec;
  padding-bottom: 40px;
}
.section-stcs-bottom-lined {
  padding-top: 53px;
  padding-bottom: 45px;
}
.section-stcs-bottom-lined-image-panel {
  padding-top: 53px;
  border-bottom: 1px solid #ebebec;
  padding-bottom: 20px;
}
.section-stcs-lined-h2 {
  padding-left: 15px;
  margin-top: 0px;
  padding-bottom: 18px;
}
.icon-set-stcs img {
  width: 25%;
  padding: 20px 0px;
}
.form-control-stcs {
  width: 80%;
}
#exp-year {
  margin-left: -20px;
  width: 120%;
}
.stripe-payment #stripe-error {
  color: #d61f37;
  padding-bottom: 20px;
  font-size: 25px;
  text-align: center;
}
.stripe-payment #stripe-error .error {
  color: #d61f37;
  font-size: 25px;
  text-align: center;
}
.stripe-payment .form-error {
  border: 1px solid #d61f37 !important;
}
.form .success {
  color: #909194;
  text-align: center;
  font-size: 25px;
  margin: 10px;
}
* {
  outline: none !important;
}
.img-amazon-stcs {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0px;
}
@media (max-width: 766px) {
  .img-amazon-stcs {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0px;
  }
}
.btn-default {
  background-color: #3a3a3a !important;
  color: #f9f9f9 !important;
}
.btn-default:focus {
  background-color: #f9f9f9 !important;
  color: #3a3a3a !important;
}
.btn-default:hover {
  border: #f9f9f9 1px solid !important;
  color: #f9f9f9 !important;
  background-color: #909194 !important;
}
.submit-btn {
  margin-top: -20px;
}
#home {
  width: 100%;
  height: 100%;
}
#home .carousel,
#home .carousel-inner,
#home .item,
#home .active {
  height: 100%;
}
#home #featured-image,
#home .fill {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}
#home .carousel-caption {
  top: 30%;
  text-shadow: none;
}
#home .btn-home {
  color: #e21937;
  background-color: #ffffff !important;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 5px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}
#home .btn-home:hover {
  background-color: #909194 !important;
  color: #f9f9f9;
}
@media (min-width: 768px) {
  #home .carousel-caption {
    top: 40%;
  }
}
@media (min-width: 992px) {
  #home .carousel-caption {
    left: 25%;
    right: 25%;
  }
}
@media (min-width: 1200px) {
  #home .carousel-caption {
    left: 30%;
    right: 30%;
  }
}
.carousel.fade {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out 0.7s;
  -o-transition: opacity ease-in-out 0.7s;
  -webkit-transition: opacity ease-in-out 0.7s;
  transition: opacity ease-in-out 0.7s;
  left: 0 !important;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
}
.carousel.fade .item:first-child {
  top: auto;
  position: relative;
}
.carousel.fade .item.active {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transition: opacity ease-in-out 0.7s;
  -o-transition: opacity ease-in-out 0.7s;
  -webkit-transition: opacity ease-in-out 0.7s;
  transition: opacity ease-in-out 0.7s;
  z-index: 2;
  background: none repeat scroll 0 0 #dce6f6;
}
.carousel-indicators {
  margin-bottom: 15px;
}
.carousel-indicators li {
  width: 16px !important;
  height: 16px !important;
  margin: 0px 10px 10px 0px !important;
  border-width: 2px;
}
.carousel-indicators li .active {
  width: 16px !important;
  height: 16px !important;
  margin: 0px;
}
.modal-stcs {
  border-style: none;
}
.btn-stcs-dark {
  background-color: #3a3a3a;
  color: #ffffff;
  float: left;
}
.modal-body-stcs p {
  font-size: 16px;
  color: #3a3a3a;
}
.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -0-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
.navbar {
  padding-bottom: 22px;
  margin-bottom: 0;
}
.navbar .navbar-header {
  background-color: #f9f9f9;
  padding-bottom: 25px;
}
.navbar .navbar-header .navbar-brand img {
  width: 200px;
  height: 60px;
  margin-top: 5px;
}
.navbar .navbar-header .navbar-toggle {
  margin-top: 18px;
  margin-bottom: -2px;
  padding: 20px 15px 14px 15px;
}
.navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #909194;
  position: relative;
  transition: all 0.8s ease-in-out;
  width: 16px;
}
.navbar .navbar-header .navbar-toggle .top-bar {
  top: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.navbar .navbar-header .navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar .navbar-header .navbar-toggle .bottom-bar {
  top: -6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.navbar .navbar-header .navbar-toggle .menu-text {
  color: #909194;
  float: right;
  margin-left: 25px;
  text-transform: uppercase;
  margin-top: -1px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}
.navbar .navbar-header .navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  top: 3px;
}
.navbar .navbar-header .navbar-toggle.collapsed .middle-bar {
  opacity: 1;
  bottom: -2px;
}
.navbar .navbar-header .navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  top: 1px;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    background-color: #f8f8f8 !important;
    margin-bottom: -27px;
    text-align: left;
    box-shadow: none;
    width: auto !important;
    float: right !important;
  }
  .navbar .navbar-collapse .navbar-nav a {
    text-transform: uppercase;
  }
  .navbar .navbar-collapse .navbar-nav ul {
    margin-left: -5px;
    margin-top: -15px;
  }
  .navbar .navbar-collapse .navbar-nav ul li a {
    text-transform: none;
  }
  .navbar .navbar-collapse .navbar-nav ul li .dropdown .active {
    color: #909194;
  }
  .navbar .navbar-collapse .navbar-nav .dropdown-menu .active a {
    color: #909194 !important;
  }
  .navbar .navbar-collapse .navbar-social {
    margin-left: -10px;
    float: none;
  }
  .navbar .navbar-collapse .navbar-social li {
    float: left;
  }
  .navbar .navbar-collapse .navbar-nav .open ul {
    margin-left: -10px;
    margin-top: -14px;
    margin-bottom: -1px;
  }
  .navbar .navbar-collapse a {
    color: #909194;
  }
  .navbar .navbar-collapse a:hover,
  .navbar .navbar-collapse a:active,
  .navbar .navbar-collapse a:focus {
    color: #e21937;
  }
  #stcs-collapse {
    width: 100% !important;
    position: absolute;
  }
  .navbar .navbar-collapse.collapsing {
    height: 0px;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: none;
    height: 540px;
  }
  .navbar-nav .dropdown-menu {
    display: block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav > .dropdown:nth-child(4) {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 200px;
  }
  .navbar-nav > .dropdown:nth-child(5) {
    position: absolute;
    left: 50%;
    top: 135px;
    width: 200px;
  }
  .navbar .navbar-collapse .navbar-social {
    margin: 0px 0px 10px 0px;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: 310px;
    width: 200px;
  }
  .navbar .navbar-collapse .navbar-nav.navbar-contacts {
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: 375px;
    width: 200px;
  }
  .navbar-nav.navbar-contacts ul a {
    font-weight: 400 !important;
    font-size: 16px;
    letter-spacing: 0px !important;
    padding-top: 8px !important;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-collapse .navbar-nav {
    margin-top: 22px;
    text-transform: uppercase;
    margin-left: -215px;
  }
  .navbar .navbar-collapse .navbar-nav .active a {
    color: #e21937;
  }
  .navbar .navbar-collapse .navbar-nav .dropdown-menu {
    background-color: #909194;
    text-transform: none;
    border: none;
    margin-left: -5px;
    margin-top: 23px;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .navbar .navbar-collapse .navbar-nav .dropdown-menu a {
    color: #ffffff;
  }
  .navbar .navbar-collapse .navbar-nav .dropdown-menu a:hover,
  .navbar .navbar-collapse .navbar-nav .dropdown-menu a:active,
  .navbar .navbar-collapse .navbar-nav .dropdown-menu a:focus {
    color: #3a3a3a;
  }
  .navbar .navbar-collapse .navbar-nav .dropdown-menu .active a {
    color: #3a3a3a;
  }
  .navbar .navbar-collapse .navbar-mm > li {
    -webkit-transition: opacity 0.45s ease-in;
    -moz-transition: opacity 0.45s ease-in;
    -ms-transition: opacity 0.45s ease-in;
    -o-transition: opacity 0.45s ease-in;
    transition: opacity 0.45s ease-in;
    opacity: 1;
  }
  .navbar .navbar-collapse:hover .navbar-mm > li {
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
    opacity: 0.25;
  }
  .navbar .navbar-collapse:hover .navbar-mm > li:hover {
    -webkit-transition: opacity 0.15s ease-in;
    -moz-transition: opacity 0.15s ease-in;
    -ms-transition: opacity 0.15s ease-in;
    -o-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;
    opacity: 1;
  }
  .navbar .navbar-collapse:hover .navbar-mm > li:hover > a {
    color: #e21937;
  }
  .navbar .navbar-collapse .navbar-social {
    position: absolute;
    right: 0px;
  }
  .navbar .navbar-collapse.in .navbar-social {
    top: 0px;
  }
  .navbar {
    background-color: #f9f9f9;
  }
  #stcs-collapse {
    transition: padding-bottom 0.35s ease;
  }
  #stcs-collapse {
    overflow: hidden !important;
    position: relative;
  }
  #stcs-collapse .navbar-mm a {
    font-weight: 600;
    letter-spacing: 1px;
  }
  #stcs-collapse .navbar-social {
    margin-top: 20px;
  }
  #stcs-collapse:hover {
    padding-bottom: 300px;
    /*alternate hack: */
    /*height: 100vh !important;*/
  }
  .mega-menu {
    position: absolute;
  }
  #stcs-collapse:hover + .mega-menu {
    display: block;
  }
  .dropdown-menu {
    display: inline !important;
    background-color: transparent !important;
  }
  .dropdown-menu a {
    display: block;
    padding-left: 15px;
    letter-spacing: 0;
    font-weight: 500 !important;
    color: #909194 !important;
  }
  .dropdown-menu a:hover {
    color: #e21937 !important;
  }
  ul.dropdown-menu {
    margin-top: 0px !important;
  }
  .navbar-nav.navbar-contacts {
    display: none;
  }
}
@media (min-width: 1201px) {
  #stcs-collapse .navbar-mm li {
    padding: 0px 20px;
  }
}
.navbar .navbar-social a {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar .navbar-social img {
  width: 16px;
}
.navbar-nav li > a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 18px;
}
.navbar-nav .dropdown li > a {
  font-weight: 400 !important;
  font-size: 16px;
  letter-spacing: 0px !important;
  padding-top: 8px !important;
}
.navbar-nav ul.dropdown-menu {
  padding-top: 10px;
  padding-bottom: 15px;
}
#stcs-collapse .navbar-nav a {
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar .navbar-collapse .navbar-nav .dropdown-toggle {
  pointer-events: none;
}
.jumbotron {
  border-bottom: 1px solid #ebebec;
  margin-bottom: 10px;
}
.jumbotron .banner-h1-stcs,
.jumbotron h1,
.jumbotron small {
  color: #ffffff;
}
.jumbotron .banner-h1-stcs.banner-h1-stcs,
.jumbotron h1.banner-h1-stcs,
.jumbotron small.banner-h1-stcs {
  font-size: 3em;
  text-align: center;
  margin: 15px 0px 10px;
}
@media (max-width: 768px) {
  .jumbotron .banner-h1-stcs.banner-h1-stcs,
  .jumbotron h1.banner-h1-stcs,
  .jumbotron small.banner-h1-stcs {
    margin: 30px 0px 10px;
  }
  .jumbotron-dark .banner-h1-stcs.banner-h1-stcs,
  .jumbotron-dark h1.banner-h1-stcs,
  .jumbotron-dark small.banner-h1-stcs {
    margin: 30px 0px 10px;
  }
  .jumbotron-light .banner-h1-stcs.banner-h1-stcs,
  .jumbotron-light h1.banner-h1-stcs,
  .jumbotron-light small.banner-h1-stcs {
    margin: 30px 0px 10px;
  }
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-display: "fallback";
}
a {
  color: #909194;
  background-color: transparent !important;
}
a:hover,
a:active,
a:focus {
  color: #e21937;
  background-color: transparent !important;
  text-decoration: none;
}
.navbar-toggle span,
p {
  font-size: 16px;
  color: #909194;
}
.navbar-toggle span a,
p a {
  font-weight: bold;
}
.navbar-toggle span strong,
p strong {
  color: #3a3a3a;
  font-weight: 500;
}
h5 {
  text-transform: uppercase;
}
h3 {
  font-weight: 500;
  font-size: 18px;
}
h4 {
  font-weight: 700 !important;
  font-size: 16px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}
h6 {
  padding-top: 15px;
}
h2 {
  font-weight: 400;
  margin-bottom: 30px;
}
h1,
h2,
h3 {
  margin-top: 0px;
}
.limit-text {
  width: 100%;
  word-wrap: break-word;
}
.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.standard-stcs-footer p {
  font-size: 14px !important;
  font-weight: 400;
}
.standard-stcs-footer a,
.standard-stcs-footer a:hover,
.standard-stcs-footer a:active,
.standard-stcs-footer a:focus {
  color: #ffffff;
}
.standard-stcs-footer h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500 !important;
}
.standard-stcs-footer p a {
  font-weight: 400;
}
.standard-stcs-footer ul {
  list-style-type: none;
  margin-left: -38px;
}
.footer-stcs {
  background-color: #3a3a3a;
  padding: 30px 0px;
}
.footer-stcs p {
  font-size: 14px !important;
  font-weight: 400;
}
.footer-stcs a,
.footer-stcs a:active {
  color: #ffffff;
}
.footer-stcs a:hover,
.footer-stcs a:focus {
  color: #909194;
}
.footer-stcs h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500 !important;
}
.footer-stcs p a {
  font-weight: 400;
}
.footer-stcs ul {
  list-style-type: none;
  margin-left: -38px;
}
.footer-stcs h4 {
  margin-bottom: 25px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 1px !important;
}
.footer-stcs br {
  margin: 12px 0px;
}
.footer-stcs .row {
  margin-bottom: 30px;
}
.footer-stcs p {
  margin-bottom: 20px;
}
.footer-stcs p:last-child {
  margin-bottom: 0px;
}
.sub-footer-stcs {
  padding: 20px 0px;
  background-color: #909194;
}
.sub-footer-stcs p {
  font-size: 14px !important;
  font-weight: 400;
}
.sub-footer-stcs a,
.sub-footer-stcs a:hover,
.sub-footer-stcs a:active,
.sub-footer-stcs a:focus {
  color: #ffffff;
}
.sub-footer-stcs h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500 !important;
}
.sub-footer-stcs p a {
  font-weight: 400;
}
.sub-footer-stcs ul {
  list-style-type: none;
  margin-left: -38px;
}
.sub-footer-stcs p {
  color: #ffffff;
  margin-bottom: -5px;
  font-size: 14px !important;
}
@media (max-width: 960px) {
  .sub-footer-stcs .frasercoyle-stcs {
    margin-top: 20px;
  }
}
.footer-span-stcs {
  font-size: 14px !important;
}
.tabs-menu {
  height: 30px;
  float: left;
  clear: both;
}
.tabs-menu li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 10px;
  background-color: #ccc;
  border-top: 1px solid #d4d4d1;
  border-right: 1px solid #d4d4d1;
  border-left: 1px solid #d4d4d1;
}
.tabs-menu li.current {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 5;
}
.tabs-menu li a {
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.tabs-menu .current a {
  color: #2e7da3;
}
.tab {
  border: 1px solid #d4d4d1;
  background-color: #fff;
  float: left;
  margin-bottom: 20px;
  width: auto;
}
.tab-content {
  width: 660px;
  padding: 20px;
  display: none;
}
#tab-1 {
  display: block;
}
.content {
  min-height: 800px;
  margin-bottom: 90px;
}
.content h2,
.content h3 {
  margin: 0px 0px 20px 0px;
}
.content h4 {
  letter-spacing: 1px !important;
}
.content .row {
  margin-bottom: 15px;
}
.content p {
  margin: 15px 0px;
}
.content p:last-child {
  margin-bottom: 0px !important;
}
.content .jesus-main-text {
  margin-top: -30px;
}
.content img {
  padding-bottom: 0px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
}
.content .seperator-stcs {
  height: 1px;
  background-color: #eeeeee;
  margin: 60px 0px;
}
.content .our-staff + .seperator-stcs {
  margin: 10px 0px 55px 0px;
}
.content p + [class*=".col-"] img {
  margin-top: 15px !important;
}
.content .spacer {
  margin-top: 55px;
}
.content .spacer h2 {
  margin-bottom: 10px !important;
}
.content .spacer p {
  margin-top: 5px !important;
  margin-bottom: -15px !important;
}
.content .spacer .row {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.content .google-map {
  height: 400px;
  width: 100%;
  margin: 0px 0px 50px 0px;
}
.content .contact-us-map {
  margin-top: -61px;
}
.content .visit-info {
  margin: 45px 0px;
  overflow: hidden;
}
.content .visit-info img {
  margin: 0px 10px 0px 0px;
  display: block;
  float: left;
  width: 100px !important;
  max-width: 100px !important;
}
.content .visit-info h3 {
  margin: 40px 0px 10px 0px !important;
}
.content .visit-info .row {
  margin: 0px;
}
.content .visit-icon {
  width: 29% !important;
}
.visit-times {
  margin-top: -25px;
  margin-bottom: -40px;
}
.visit-time > img {
  margin: 0px;
  width: 20%;
  float: left;
  transform: translate(-29%, 0%);
}
.visit-time > h3 {
  margin: 8% 0px 0px 5%;
  float: left;
  transform: translate(-15%, 0%);
}
@media (max-width: 992px) and (min-width: 769px) {
  .visit-time > h3 {
    margin: 7% 0px 0px 5%;
  }
}
@media (max-width: 769px) {
  .visit-time > img {
    transform: translate(-17%, 0%);
  }
  .visit-time > h3 {
    padding-left: 3rem;
  }
}
.content .getting-here .row {
  margin-bottom: 0px !important;
}
.content .getting-here .heading {
  margin-bottom: 0px !important;
}
.content .getting-here p {
  padding-bottom: 60px;
  margin-bottom: 0px !important;
}
.content .amazonimage {
  max-width: 300px !important;
  display: block;
  margin: 60px auto 60px auto;
}
.content .embed-responsive {
  margin-bottom: 30px;
}
.content .team-contact {
  margin-top: 25px !important;
  margin-bottom: 30px !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content .team-contact {
    width: 100% !important;
  }
}
@media (min-width: 991px) {
  .content .team-contact {
    width: 75% !important;
  }
}
.content .team-contact {
  cursor: pointer;
  margin-left: -15px;
}
.content .team-contact img {
  width: 60px !important;
  height: 60px !important;
  margin-left: 15px !important;
  margin-right: 5px !important;
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}
.content .team-contact .media-body {
  vertical-align: middle;
}
.content .team-contact .media-body p {
  margin: 12px 0px -1px 0px !important;
}
.contact-info a {
  font-weight: normal;
}
#contact {
  position: absolute;
  top: -140px;
}
.content .our-staff .row {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.content .our-staff .row > div[class^="col-"]:last-child .caption {
  margin-bottom: 0px !important;
}
.content .our-staff .caption {
  padding-bottom: 0px !important;
  margin-bottom: 45px !important;
  margin-top: -5px !important;
}
.content .our-staff .caption h3 {
  margin: 0 !important;
}
.content .our-staff .caption p {
  margin-top: 0px;
}
.content .our-staff .thumbnail {
  border: none;
  margin-bottom: 15px !important;
  padding: 0px !important;
}
.content .form {
  background-color: #f9f9f9;
  padding: 30px 30px 15px 30px;
}
.content .form label {
  font-weight: 400;
}
.content .form .form-control:focus {
  border: 1px solid #909194;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content .form .form-control {
  color: #909194;
  border: 1px solid #e9e9ea;
  box-shadow: none;
  -webkit-box-shadow: none;
}
@media (min-width: 768px) {
  .content .headline-image {
    margin-right: 8.33333333%;
  }
}
.content .headline-image > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.content .headline-image img {
  height: auto;
  width: 100%;
  margin: 30px 0px 60px 0px !important;
}
.content .headline-video .row {
  width: 75%;
  margin-left: 12.5%;
}
.content .headline-tabs {
  border-bottom: 1px solid #e9e9ea;
  margin-bottom: 35px;
  margin-top: 35px;
  height: 42px;
}
.content .headline-tabs .container-fluid {
  padding: 0px !important;
  margin-top: 45px;
}
.content .headline-tabs .nav-tabs {
  border-bottom: 0px;
}
.content .headline-tabs .nav-tabs li.active a {
  border-bottom: solid 2px #3a3a3a !important;
  padding-left: 0px;
  padding-right: 0px;
  border-left: none;
  border-right: none;
  border-top: none;
  letter-spacing: 1px;
}
.content .headline-tabs .nav-tabs li a {
  font-size: 16px;
  font-weight: 500 !important;
  text-transform: uppercase;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 1px;
}
.content .headline h4 {
  color: #909194 !important;
  margin-top: -5px;
  margin-bottom: 20px;
  font-weight: 500;
}
.content .headline h2 {
  margin-bottom: 20px;
}
.content .headline p {
  margin-bottom: 20px;
}
.content .headline .line {
  margin-top: 30px;
  margin-bottom: 30px;
}
.headline-categories {
  padding-left: 7px;
}
.content .full-width .container-fluid {
  padding: 0px;
}
.content .line {
  border-bottom: 1px solid #e9e9ea;
  width: 100%;
}
.content .pagination {
  margin-top: 30px;
}
.content .pagination li a {
  padding: 9px 15px;
  color: #909194;
  border-color: #e9e9ea !important;
}
.content .pagination li a:hover {
  border-color: #e9e9ea !important;
}
.content .pagination li:last-child a {
  padding-left: 24px;
  padding-right: 24px;
}
.content .pagination .active a {
  padding: 9px 15px;
  color: #3a3a3a;
  border-color: #909194;
}
.content .pagination .active a:hover {
  color: #3a3a3a;
  border-color: #909194;
}
.content .collapse-btn {
  color: white;
  background-color: black;
  font-weight: 600;
  padding: 6px 20px;
}
.content .collapse-btn-close {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .mobile-2-column-switch .row {
    display: flex;
    flex-flow: column;
  }
  .mobile-2-column-switch .row div:nth-child(2) {
    order: -1;
  }
}
#news-grid {
  list-style: none;
}
#news-grid .latest-post .featured-image > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
#news-grid .latest-post .featured-image img {
  height: auto;
  width: 100%;
  max-width: 970px;
  max-height: 600px;
}
#news-grid .latest-post img {
  width: 100%;
  height: auto;
}
#news-page {
  display: inline-block;
}
#categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#categories h4 {
  color: #999;
}
#categories-list a {
  color: black;
  font-size: 1.2em;
}
.headlines-selected {
  color: black;
  border-bottom: 3px solid !important;
  padding-bottom: 6px !important;
}
.latest-post img {
  height: 300px;
  width: auto;
}
.latest-post h2 a {
  color: black;
}
.latest-post .published-date {
  color: black;
}
ul.pageList {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 15px;
}
ul.pageList li {
  display: inline;
}
ul.pageList li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}
* {
  outline: none !important;
  -webkit-font-smoothing: antialiased;
}
hr {
  margin-top: 60px;
  margin-bottom: 60px;
}
html,
body {
  height: 100%;
}
body {
  padding-top: 70px;
}

/* im-new page */
.im-new-heading {
  text-align: center;
}
.im-new-box {
  display: flex;
  align-items: center;
  min-height: 300px;
}
.im-new-box > a {
  color: #fff;
}
.im-new-text {
  color: #fff;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
  font-size: larger;
}
.im-new-box > a:active,
a:focus,
a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .im-new-row {
    display: flex;
    align-items: center;
  }
  .im-new-box {
    margin-top: 15%;
    margin-bottom: 20%;
  }
  .im-new-bg {
    background-image: url("/static/uploads/im_new-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
}
@media only screen and (min-width: 992px) {
  .im-new-box {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
