@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */

a {
  @apply font-semibold;
}

a:hover {
  @apply text-red-stcs underline;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

.content > h1,
h2,
h3,
h4,
h5 {
  @apply my-4;
}

.content > p {
  @apply pb-2;
  @apply leading-snug;
}

span.required::after {
  content: "*";
  @apply text-red-stcs;
}
.embed-responsive {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.embed-responsive iframe {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

/* navbar */

.menu-active {
  @apply h-full;
  @apply min-h-screen;
}

@responsive {
  .navmenu-grid {
    display: grid;
    grid-gap: theme(spacing.6) 0;
    grid-template-areas:
      "leftA rightA"
      "leftB rightB"
      "leftC rightC";
    grid-template-columns: 1fr 1fr;
  }
}

.nav-left1 {
  grid-area: leftA;
}

.nav-left2 {
  grid-area: leftB;
}
.nav-left3 {
  grid-area: leftC;
}

.nav-right1 {
  grid-area: rightA;
}

.nav-right2 {
  grid-area: rightB;
}
.nav-right3 {
  grid-area: rightC;
}

.menu-t {
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

@media (min-width: 1024px) {
  .menu-t {
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
}

/* headlines */
.headline-category {
  @apply inline-block pb-1 mx-4 font-semibold;
  @apply text-gray-400;
}

.headline-category-active {
  @apply headline-category;
  @apply border-b-4;
  @apply text-gray-500;
}

.markdown {
  @apply leading-normal;
  & > * + *,
  & li + li,
  & li > p + p {
    @apply mt-6;
  }
  & strong {
    @apply text-black font-bold;
  }
  & a {
    @apply text-black font-semibold;
  }
  & strong a {
    @apply font-bold;
  }
  & h2 {
    @apply leading-tight text-xl font-bold text-black mb-2 mt-10;
  }
  & h3 {
    @apply leading-tight text-lg font-bold text-black mt-8 -mb-2;
  }
  & code {
    @apply font-mono text-sm inline px-1;
  }
  & pre code {
    @apply block bg-black p-4 rounded;
  }
  & blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic;
  }
  & ul {
    list-style: initial;
  }
  & ul,
  & ol {
    @apply pl-5;
    @screen sm {
      @apply pl-10;
    }
  }
  & img {
    @apply my-2;
  }
}
