https://stcolumbas.freechurch.org {
    gzip
    root {{ root_path }}/live

    ext .html

    header /static {
        Cache-Control "public, max-age=31536000"
    }

    rewrite {
        if {path} not /
        if {path} ends_with /
        r ^/(.*)/$
        to /{1}
    }

    header / {
        -Server
    }

    tls {
        max_certs 100
    }

    log / {{ caddy_access_log_file }} "{combined}"
    errors {{ caddy_error_log_file }}
}
