<!DOCTYPE html>
<html lang="en-gb" class="h-full">
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>
        {% block title %}{{ data.title }}{% endblock %}{% block title_suffix %}{% if data.title %} - {% endif %}St Columba's Free Church{% endblock %}
      </title>
      <meta name="description" content="St Columba's Free Church of Scotland - We are a city-centre church committed to the Gospel of Jesus Christ" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="preconnect" href="https://m.stripe.com" crossorigin />
      <link rel="preload" href={{ "/static/css/stcs.css"|static }} as="style" />
      <link rel="preload" href={{ "/static/js/stcs.js"|static }} as="script" />

      {% include 'favicons.html' %}
      {# Global stylesheets #}
      <style>
        [x-cloak] {
          display: none;
        }
      </style>
      <link rel="stylesheet" type="text/css" href={{ "/static/css/stcs.css"|static }}>
      {% block extra_css %}{% endblock %}

      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
      <script src={{ "/static/js/instant.page.3.0.0.js"|static }} type="module" defer ></script>
      <script defer src="https://js.stripe.com/v3/"></script>
      {% block extra_head %}{% endblock %}
  </head>

  <body class="text-gray-500 {% block body_class %}min-h-screen{% endblock %}" id="{% block body_id %}{% endblock %}">
      {% block header %}
      {% include 'header.html' %}
      {% include 'header-small.html' %}
      {% endblock %}
      {% block section_start %}
      <section class="min-h-screen mt-20 xl:mt-24">
      {% endblock %}
      {% block jumbotron %}
        {% if data.skip_jumbotron %}
        {% else %}
          <div class="flex flex-col items-center justify-center w-full py-1 mb-16 font-semibold text-center text-white bg-gray-500 min-h-24">
            <h1 class="my-2 text-6xl">{{ data.title }}</h1>
          </div>
        {% endif %}
      {% endblock %}
      {% block content %}
      {% endblock %}
      {% block section_end %}
      </section>
      {% endblock %}
      {% block footer %}{% include 'footer.html' %}{% endblock %}

      {# Global javascript #}
      {% include 'sentry.html' %}

      <script type="text/javascript" src={{ "/static/js/stcs.js"|static }} ></script>
      {% block extra_js %}{% endblock %}
  </body>
</html>
