{% extends 'base.html' %}
{% block content %}
  <div id="map-container" class="w-full h-128 -mt-16"></div>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
                         integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
                         crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
          integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
          crossorigin=""></script>
  <div class="container mx-auto md:flex mb-16">
    <div class="flex-1 pt-16">
      <p class="font-semibold">Email</p>
      <p>
      <a href="mailto:office@stcsfc.org">office@stcsfc.org</a>
      </p>
      <p class="font-semibold mt-4">Phone</p>
      <p>
      <a href="tel:+441312253505">0131 225 3505</a>
      </p>
      <p class="font-semibold mt-4">Address</p>
      <p>
      St Columba's Free Church<br>Johnston Terrace<br>Edinburgh<br>EH1 2PW
      </p>
    </div>
    <div class="flex-1 pt-16">
      <div class="bg-stcs-nav-bg">
        <form id="contact-form" class="p-8" netlify action="https://kwes.io/api/foreign/forms/2WX2J649ws5zvf7nbsUd">
          <div class="my-4 kwes-form">
            <h3 class="font-semibold">Contact Form</h3>
            <p>Fill in the contact box below and we will get back to you as soon as we can. Thanks</p>
          </div>
          <div class="md:flex">
            <div class="flex-1 pr-2 my-4">
              <label for="name">
              <span class="font-medium required">Name</span>
              <input name="name" type="text" required tabindex="1" class="form-input w-full mt-1">
              </label>
            </div>
            <div class="flex-1 pr-2 my-4">
              <label for="email">
                <span class="font-medium required">Email address</span>
                <input name="email" type="email" required tabindex="2" class="form-input w-full mt-1">
              </label>
            </div>
          </div>
          <div class="w-full my-4">
            <label for="subject">
              <span class="font-medium required">Subject</span>
              <input name="subject" type="text" required tabindex="3" class="form-input w-full mt-1" id="subject">
            </label>
          </div>
          <div class="my-4">
            <label for="message">
              <span class="font-medium required">Message</span>
              <textarea name="message" class="form-textarea block w-full mt-1" rows="8"></textarea>
            </label>
          </div>
          <div class="my-4">
            <div data-netlify-recaptcha></div>
          </div>
          <button
            type="submit"
            class="bg-white font-medium mt-4 px-2 py-1 text-lg text-white bg-gray-500">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
 <script src="https://kwes.io/js/kwes.js" charset="utf-8"></script
<script>
  if (!(URLSearchParams===undefined)) {
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('subject')) {
      var sub = urlParams.get('subject');
      var el = document.getElementById('subject');
      el.value = urlParams.get('subject');
    }
  }
</script>
{% endblock %}
