{% extends 'base.html' %}
{% block content %}
  <div id="map-container" class="google-map contact-us-map"></div>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
                         integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
                         crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
          integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
          crossorigin=""></script>
<div class="contact-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p><strong>Email</strong></p><p><a href="mailto:office@stcsfc.org">office@stcsfc.org</a></p>
        <p><strong>Phone</strong></p><p><a href="tel:+441312253505">0131 225 3505</a>
        </p>
        <p><strong>Address</strong></p><p>St Columba's Free Church<br>Johnston Terrace<br>Edinburgh<br>EH1 2PW
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="contact-thanks" role="alert">
          <h4 >Thank you!</h4>
          <p>Thank you for getting in touch.</p>
          <p>We'll get back to you as soon as we can.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.6&amp;sensor=true"></script>
{% endblock %}
