<footer>
  <section id="stcs-footer" class="py-4 text-gray-200 bg-gray-500">
    <div class="container md:flex">
      <div class="flex-1 px-4 py-2">
        <h4 class="pb-2 text-lg font-semibold text-white uppercase">Contact</h4>
        <p class="mb-2" itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address">
        <span itemprop="street-address">St Columba's Free Church of Scotland<br>
          Johnston Terrace</span>, <span itemprop="locality">Edinburgh</span><br>
        <span itemprop="postal-code">EH1 2PW</span>
        </p>
        <p class="my-2"><a class="text-white hover:underline" href="about/contact-us">View Map</a></p>
        <p>
        <a class="text-white hover:underline">office@stcsfc.org</a><br>
        <a class="text-white hover:underline" href="tel:+441312253505" itemprop="telephone">0131 225 3505</a>
        </p>
      </div>
      <div class="flex-1 px-4 py-2">
        <h4 class="pb-2 text-lg font-semibold text-white uppercase">Sunday Services</h4>
        <p class="mb-2">
        <a class="text-white hover:underline" href="/connect/visit/">Morning Service 10:30</a><br>
        <a class="text-white hover:underline" href="/connect/visit/">Evening Service 17:30</a>
        </p>
        <p>For other meetings and events, please see the <a class="text-white hover:underline" href="http://stcsfc.org/calendar" target="_blank">church calendar</a></p>
      </div>
      <div class="flex-1 px-4 py-2">
        <h4 class="pb-2 text-lg font-semibold text-white uppercase">Giving</h4>
        <p>If you wish to give to St Columba's please visit our <a class="text-white hover:underline" href="/connect/giving/">giving page</a>.</p>
      </div>
      <div class="flex-1 px-4 py-2">
        <h4 class="pb-2 text-lg font-semibold text-white uppercase">Connect</h4>
        <ul>
          <li><a class="text-white hover:underline" href="http://www.twitter.com/stcsfreechurch" target="_blank" rel="noopener">Twitter</a></li>
          <li><a class="text-white hover:underline" href="http://www.facebook.com/stcolumbasfreechurch" target="_blank" rel="noopener">Facebook</a></li>
          <li><a class="text-white hover:underline" href="http://www.youtube.com/stcolumbasfreechurch" target="_blank" rel="noopener">YouTube</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="stcs-legal" class="py-6 text-white bg-stcs-footer-bg2">
    <div class="container justify-between lg:flex">
      <div class="">
        <p>
        © 2020 St Columba's Free Church of Scotland. All rights reserved.<br>
        St Columba's Free Church is a registered charity in Scotland (SC016551)
        </p>
      </div>
      <div class="flex flex-col">
        <a href="/_privacy/privacy_notice/">Privacy Notice</a>
        <a href="/_privacy/data_protection_policy/">Data Protection Policy</a>
        <a href="/_attribution">Credits</a>
      </div>
    </div>
  </section>
</footer>
