<footer>
  <section id="stcs-footer" class="footer-stcs">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <h4>Contact</h4>
          <p itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address">
          <span itemprop="street-address">St Columba's Free Church of Scotland<br>
            Johnston Terrace</span>, <span itemprop="locality">Edinburgh</span><br>
          <span itemprop="postal-code">EH1 2PW</span>
          </p>
          <p><a href="about/contact-us">View Map</a></p>
          <p>
          <a class="break-word" href="mailto:office@stcsfc.org" itemprop="email">office@stcsfc.org</a><br>
          <a href="tel:+441312253505" itemprop="telephone">0131 225 3505</a>
          </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h4>Sunday Services</h4>
          <p>
          <a href="/connect/visit/">Morning Service 11:00</a><br>
          <a href="/connect/visit/">Evening Service 17:30</a>
          </p>
          <p>For other meetings and events, please see the <a href="http://stcsfc.org/calendar" target="_blank">church calendar</a></p>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-6 col-sm-3">
          <h4>Giving</h4>
          <p>If you wish to give to St Columba's please visit our <a href="/connect/giving">giving page</a>.</p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h4>Connect</h4>
          <ul>
            <li><a href="http://www.twitter.com/stcsfreechurch" target="_blank" rel="noopener">Twitter</a></li>
            <li><a href="http://www.facebook.com/stcolumbasfreechurch" target="_blank" rel="noopener">Facebook</a></li>
            <li><a href="http://www.youtube.com/stcolumbasfreechurch" target="_blank" rel="noopener">YouTube</a></li>
            <li><a href="https://plus.google.com/110333993204526370348" target="_blank" rel="noopener">Google+</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="stcs-legal" class="sub-footer-stcs">
    <div class="container">
      <div class="row">
        <div class="col-xs-9">
          <p>
          © 2018 St Columba's Free Church of Scotland. All rights reserved.<br>
          St Columba's Free Church is a registered charity in Scotland (SC016551)
          </p>
        </div>
        <div class="col-xs-3">
          <p class="text-right">
          <a href="http://frasercoyle.com" target="_blank">By Fraser/Coyle</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
