  <nav
    class="bg-stcs-nav-bg flex flex-col font-semibold h-20 lg:flex-row lg:h-24 lg:hover:h-96 lg:justify-between lg:pb-16 menu-t overflow-hidden pt-4 px-4 text-gray-400 top-0 w-full z-1000 absolute"
    id="navbarMenu"
    >
    <div class="">
      <div class="flex items-center justify-between lg:hidden">
        <a href="/">
          <img src="/static/images/stcolumbas-logo.png" class="" style="height: 50px;" alt="St Columba's Logo">
        </a>
        <div class="uppercase" data-target="navbarMenu" id="menu-button">
          Menu
        </div>
      </div>
      <a class="hidden lg:block" href="/">
        <img src="/static/images/stcolumbas-logo.png" class="logo1" style="height: 60px;" alt="St Columba's Free Church">
      </a>
    </div>
    <div class="pt-2 lg:pt-6 flex-1 lg:flex-initial text-xl lg:text-base" style="flex-basis: 50%;">
      <ul class="navmenu-grid lg:flex mt-4 lg:-mt-2 text-center lg:text-left">
        <li class="nav-left1 text-lg lg:flex-1 lg:w-auto uppercase hover:text-red-stcs text-2xl lg:text-xl">
          <a href="/jesus">Jesus</a>
        </li>
        <li class="nav-left2 lg:flex-1 lg:w-auto group">
          <div class="uppercase group-hover:text-red-stcs text-2xl lg:text-xl">About</div>
          <ul class="mt-1 lg:mt-8 font-normal">
            <li><a class="hover:text-red-stcs hover:underline" href="/about/our-vision">Our Vision</a></li>
            <li><a class="hover:text-red-stcs hover:underline" href="/about/our-team" title="Our Team">Our Team</a></li>
            <li><a class="hover:text-red-stcs hover:underline" href="/about/church-plants" title="Church Plants">Church Plants</a></li>
            <li><a class="hover:text-red-stcs hover:underline" href="/about/contact-us">Contact Us</a></li>
          </ul>
        </li>
        <li class="nav-left3 lg:flex-1 lg:w-auto group">
          <div class="uppercase group-hover:text-red-stcs text-2xl lg:text-xl">Connect</div>
          <ul class="mt-1 lg:mt-8 font-normal">
            <li><a class="hover:text-red-stcs hover:underline" href="/connect/visit" title="Visit">Visit</a></li>
            <li><a class="hover:text-red-stcs hover:underline" href="/connect/community" title="Community">Community</a></li>
            <li><a class="hover:text-red-stcs hover:underline" href="/connect/giving" title="Giving">Giving</a></li>
            <li><a class="hover:text-red-stcs hover:underline" href="/connect/ministries" title="Ministries">Ministries</a></li>
            <li><a class="hover:text-red-stcs hover:underline" href="/connect/serving" title="Serving">Serving</a></li>
            <li><a class="hover:text-red-stcs hover:underline" href="https://stcsfc.org/connect">Connect Meals</a></li>
          </ul>
        </li>
        <li class="nav-right1 lg:flex-1 lg:w-auto text-lg uppercase hover:text-red-stcs text-2xl lg:text-xl">
          <a href="/headlines" title="Headlines">Headlines</a>
        </li>
        <li class="nav-right2 lg:flex-1 lg:w-auto group">
          <a class="uppercase group-hover:text-red-stcs text-2xl lg:text-xl">Resources</a>
          <ul class="mt-1 lg:mt-8 font-normal">
            <li><a href="https://sermons.stcolumbas.freechurch.org/" rel="noopener" target="_blank">Sermons</a></li>
            <li><a href="https://stcs.elvanto.eu/pages/resources" rel="noopener" target="_blank">Internal Resources</a></li>
          </ul>
        </li>
        <li class="nav-right3 lg:flex-1 lg:w-auto group lg:hidden">
          <a href="/about/contact-us" class="uppercase group-hover:text-red-stcs text-2xl lg:text-xl">Contact</a>
          <ul class="mt-1 lg:mt-8 font-normal">
            <li class="">
              <a href="mailto:office@stcsfc.org">Email</a>
            </li>
            <li class="">
              <a href="tel:+441312253505">0131 225 3505</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="py-2 lg:pb:0 lg:pt-6">
      <ul class="flex items-center justify-center">
        <li class="mx-2">
          <a href="https://www.twitter.com/stcsfreechurch" target="_blank" rel="noopener">
            <img src="/static/images/icons/twitter-icon.png" alt="Twitter: @stcsfreechurch" style="width: 16px;">
          </a>
        </li>
        <li class="mx-2">
          <a href="https://www.facebook.com/stcolumbasfreechurch/" target="_blank" rel="noopener">
            <img src="/static/images/icons/facebook-icon.png" alt="Facebook: St Columba's Free Church" style="width: 16px;">
          </a>
        </li>
        <li class="mx-2">
          <a href="https://www.youtube.com/user/stcolumbasfreechurch" target="_blank" rel="noopener">
            <img src="/static/images/icons/youtube-icon.png" alt="YouTube" style="width: 16px;">
          </a>
        </li>
        <li class="mx-2">
          <a href="https://elvanto.stcsfc.org" target="_blank" rel="noopener">
            <img width="16px" src="/static/images/icons/elvanto-icon.svg" style="width: 16px;" alt="Elvanto">
          </a>
        </li>
      </ul>
    </div>
  </nav>
