<nav
  class="absolute top-0 items-start hidden w-full px-4 py-4 font-semibold text-gray-400 xl:flex bg-stcs-nav-bg z-1000" :class=" {'h-24 overflow-hidden': !open }"
  x-data="{ open: false }"
  @click.away="open = false" @mouseenter="open = true" @mouseleave="open = false">
  <div class="flex items-center">
    <a style="height: 60px;" href="/">
      <img src="/static/images/stcolumbas-logo.png" class="object-scale-down" style="height: 60px;" alt="St Columba's Free Church">
    </a>
  </div>
  <div class="w-full h-full max-w-6xl pt-4 pl-24 mx-auto" :class="{'flex': open, 'flex-col': open}">
    <ul class="grid grid-cols-6 gap-4">
      <li class="group">
        <div class="text-2xl uppercase group-hover:text-red-stcs lg:text-xl">
          <a href="/jesus">Jesus</a>
        </div>
      </li>
      <li class="group">
        <div class="relative">
          <button class="text-2xl font-semibold uppercase cursor-default group-hover:text-red-stcs lg:text-xl">About</button>
          <div class="px-2 mt-3 transform z-1000 sm:px-0" x-cloak x-show="open">
            <div class="overflow-hidden">
              <div class="relative grid gap-2 py-1">
                <a class="hover:text-red-stcs hover:underline" href="/about/our-vision">Our Vision</a>
                <a class="hover:text-red-stcs hover:underline" href="/about/our-team" title="Our Team">Our Team</a>
                <a class="hover:text-red-stcs hover:underline" href="/about/church-plants" title="Church Plants">Church
                  Plants</a>
                <a class="hover:text-red-stcs hover:underline" href="/about/contact-us">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="group">
        <div class="relative">
          <button class="text-2xl font-semibold uppercase cursor-default group-hover:text-red-stcs lg:text-xl">Connect</button>
          <div class="px-2 mt-3 transform z-1000 sm:px-0" x-cloak x-show="open">
            <div class="overflow-hidden">
              <div class="relative grid gap-2 py-1">
                <a class="hover:text-red-stcs hover:underline" href="/connect/visit" title="Visit">Visit</a>
                <a class="hover:text-red-stcs hover:underline" href="/connect/community" title="Community">Community</a>
                <a class="hover:text-red-stcs hover:underline" href="/connect/giving" title="Giving">Giving</a>
                <a class="hover:text-red-stcs hover:underline" href="/connect/ministries"
                  title="Ministries">Ministries</a>
                <a class="hover:text-red-stcs hover:underline" href="/connect/serving" title="Serving">Serving</a>
                <a class="hover:text-red-stcs hover:underline" href="/connect/identity" title="Students/Young Workers">Students/Young Workers</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="group">
        <div class="text-2xl uppercase group-hover:text-red-stcs lg:text-xl">
          <a href="/updates" title="Updates">Updates</a>
        </div>
      </li>
      <li class="group">
        <div class="relative">
          <button class="text-2xl font-semibold uppercase cursor-default group-hover:text-red-stcs lg:text-xl">Resources</button>
          <div class="px-2 mt-3 transform z-1000 sm:px-0" x-cloak x-show="open">
            <div class="overflow-hidden">
              <div class="relative grid gap-2 py-1">
                <a href="https://sermons.stcolumbas.freechurch.org/" rel="noopener" target="_blank">Sermons</a>
                <a href="https://stcs.elvanto.eu/pages/resources" rel="noopener" target="_blank">Internal Resources</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="group">
        <div class="text-2xl uppercase group-hover:text-red-stcs lg:text-xl">
          <a href="/livestream" title="Live Stream">Live</a>
        </div>
      </li>
    </ul>
    <ul class="flex items-center justify-end mt-8" x-cloak x-show="open">
      <li class="mx-2">
        <a href="https://www.twitter.com/stcsfreechurch" target="_blank" rel="noopener">
          <img src="/static/images/icons/twitter-icon.png" alt="Twitter: @stcsfreechurch" style="width: 16px;">
        </a>
      </li>
      <li class="mx-2">
        <a href="https://www.facebook.com/stcolumbasfreechurch/" target="_blank" rel="noopener">
          <img src="/static/images/icons/facebook-icon.png" alt="Facebook: St Columba's Free Church" style="width: 16px;">
        </a>
      </li>
      <li class="mx-2">
        <a href="https://www.youtube.com/user/stcolumbasfreechurch" target="_blank" rel="noopener">
          <img src="/static/images/icons/youtube-icon.png" alt="YouTube" style="width: 16px;">
        </a>
      </li>
      <li class="mx-2">
        <a href="https://www.instagram.com/stcsfreechurch/" target="_blank" rel="noopener">
          <img width="16px" src="/static/images/icons/instagram-icon.svg" style="width: 16px;" alt="Instagram">
        </a>
      </li>
      <li class="mx-2">
        <a href="https://stcs.elvanto.eu" target="_blank" rel="noopener">
          <img width="16px" src="/static/images/icons/elvanto-icon.svg" style="width: 16px;" alt="Elvanto">
        </a>
      </li>
    </ul>
  </div>
</nav>
