{% extends "base.html" %}
{% block content %}
<div class="container w-11/12 md:w-4/5 lg:w-3/5">
  <div class="mb-12 md:mb-16 lg:mb-20">
    {{ content.thumbnail|render_image }}
  </div>
</div>
<div class="container content w-4/5 lg:w-2/5 pb-32">
  {{ content.body|md }}
</div>
{% endblock %}
{% block extra_head %}
  <meta content="{{ content.title }}" property="og:title">
  <meta content="{{ content.author }}" property="og:author">
  <meta content="Religion" property="og:article:section">
  <meta content="article" property="og:type">

  <meta content="{{ content.title }}" name="twitter:title">
  {% if content.thumbnail %}
    <meta content="summary_large_image" name="twitter:card">
    <meta content="{{ content.thumbnail }}" name="twitter:image">
    <meta name="twitter:image:width" content="{{ content.thumbnail|width }}">
    <meta name="twitter:image:height" content="{{ content.thumbnail|height }}">

    <meta content="{{ content.thumbnail }}" property="og:image">
    <meta content="{{ content.thumbnail|width }}" property="og:image:width">
    <meta content="{{ content.thumbnail|height }}" property="og:image:height">
  {% else %}
    <meta content="summary" name="twitter:card">
  {% endif %}
{% endblock %}
