{% extends "base.html" %}

{% block content %}
<div class="headline-tabs">
  <div class="col-md-8">
    <ul class="nav nav-tabs col-md-9 col-md-offset-3">
      <li class="tl-tag tl-tag-weight5">
        <a href="/headlines/" {% if tag == None %}class="headlines-selected"{% endif %}>Latest</a>
      </li>
      <li class="tl-tag tl-tag-weight5">
        <a href="/headlines/tags/news" {% if tag == 'news' %}class="headlines-selected"{% endif %}>News</a>
      </li>
      <li class="tl-tag tl-tag-weight5">
        <a href="/headlines/tags/events" {% if tag == 'events' %}class="headlines-selected"{% endif %}>Events</a>
      </li>
    </ul>
  </div>
</div>

<div id="news-page">
  <div id="news-grid" class="col-md-8">
    {% for post in pagination['posts'] %}
    <div class="latest-post col-md-9 col-md-offset-3">
      <div class="featured-image">
        <div>
          <a href="/{{ post.path }}">
            {{ post|header_image }}
          </a>
        </div>
      </div>
      <h2><a href="/{{ post.path }}">{{ post.title }}</a></h2>
      <div class="entry">
        {{ post.intro|render_text }}

        <p><a href="/{{ post.path }}">Continue reading...</a></p>
        <p class="published-date">Published by {{ post.author }} on {{ post.date }}</p>
      </div>
      <hr>
    </div>
    {% endfor %}
    {% if pagination.prev or pagination.next %}
    <nav aria-label="...">
      <ul class="pager">
        {% if pagination.prev %}
        <li><a href="{{ pagination.prev }}">Newer</a></li>
        {% endif %}
        {% if pagination.next %}
        <li><a href="{{ pagination.next}}">Older</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
  <div id="tags-grid" class="col-md-2">
    <h2>Tags</h2>
    {% for tag in tags %}
    <a href="/headlines/tags/{{ tag }}">{{ tag }}</a>{% if loop.last %}{% else %}, {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
