{% extends "base.html" %}

{% block body_id %}home{% endblock %}
{% block jumbotron %}{% endblock %}
{% block section_start %}{% endblock %}
{% block section_end %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  {{ data.photo.url|render_bg_image_style }}
  <div class="bg-center bg-cover bg-no-repeat flex flex-col index-bg-h lg:index-bg-h2 h-full justify-center text-center text-white w-full {{ data.photo.url|render_bg_image_class }}">
    <div class="max-w-2xl mx-auto">
      <h1 class="font-semibold mb-8 text-4xl">{{ data.heading }}</h1>
      <a href="/connect/im_new" class="bg-white font-semibold px-4 py-2 text-lg text-red-stcs">
        {{ data.link.text }}
      </a>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", function(user) {
      if (!user) {
        window.netlifyIdentity.on("login", function () {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %}
