{% extends "base.html" %}

{% block body_id %}home{% endblock %}
{% block jumbotron %}{% endblock %}
{% block section_start %}{% endblock %}
{% block section_end %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  {{ data.photo.url|render_bg_image_style }}
  <div class="bg-center bg-cover bg-no-repeat flex flex-col h-screen justify-center text-center text-white w-full {{ data.photo.url|render_bg_image_class }}">
    <div class="max-w-2xl mx-auto">
      <h1 class="mb-8 text-4xl font-semibold">{{ data.heading }}</h1>
      <div class="flex flex-col space-y-10">
        <div>
          <a href="/connect/im_new" class="px-4 py-2 text-lg font-semibold bg-white text-red-stcs">
            I'm New
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 w-full px-4 py-6 text-lg text-center bg-stcs-nav-bg">
    <p>Due to COVID-19 restrictions we will be livestreaming our services for the foreseeable future.</p>
    <p><a href="/livestream">You can watch here</a><!--, or <a href="/updates/2020/11/23/sign-up-for-services-in-december">sign up to attend in person here<a>-->.</p>
  </div>

  <div class="fixed inset-0 z-50 items-center justify-center px-4 py-32 pointer-events-none sm:flex sm:items-start sm:justify-end" x-data="{ show : true }" x-show="show">
    <div class="w-full max-w-sm mx-auto overflow-hidden shadow-lg pointer-events-auto md:mx-0 bg-stcs-nav-bg ring-1 ring-black ring-opacity-5">
      <div class="p-4">
        <div class="flex items-start">
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p class="text-sm font-medium text-gray-900">
              <a href="/elizabeth-graham">Elizabeth Graham Thanksgiving Service</a>
            </p>
            <p class="mt-1 text-sm text-gray-500">
              13:00 - 11th March
            </p>
            <p class="mt-1 text-sm text-gray-500">
              <a href="/elizabeth-graham">Watch live stream here</a>
            </p>
          </div>
          <div class="flex flex-shrink-0 ml-4">
            <button class="inline-flex text-gray-400 rounded-md bg-stcs-nav-bg hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" @click="show = false">
              <span class="sr-only">Close</span>
              <!-- Heroicon name: solid/x -->
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  {% if is_netlify_build %}
    <!-- keep this here so the cms redirect still works -->
    <script>
      function initNetlify() {
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", function (user) {
            if (!user) {
              window.netlifyIdentity.on("login", function () {
                document.location.href = "/admin/";
              });
            }
          });
        }
      }
    </script>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"
                  onload="initNetlify();"
                  >
    </script>
  {% endif %}
{% endblock %}
