{% extends "base.html" %}

{% block body_id %}home{% endblock %}
{% block jumbotron %}{% endblock %}
{% block section_start %}{% endblock %}
{% block section_end %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  {{ data.photo.url|render_bg_image_style }}
  <div class="bg-center bg-cover bg-no-repeat flex flex-col h-screen justify-center text-center text-white w-full {{ data.photo.url|render_bg_image_class }}">
    <div class="max-w-2xl mx-auto">
      <h1 class="text-5xl font-semibold">{{ data.heading }}</h1>
      <div class="mt-4 text-xl">{{ data.tagline }}</div>
    </div>
  </div>
{% endblock %}
